<ion-header>
  <ion-toolbar>
    <ion-title>
      Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let persona of personas">
    <ion-card class="welcome-card" >
      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title>
          <h5>{{persona.name}} {{persona.seconame}} {{persona.lastname}} {{persona.lastseconame}}</h5> 
        </ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        {{persona.sexo}} {{persona.nacimiento}} {{persona.estado}}
        <a (click)="deletePersona(persona.id)" class="btn btn-danger">
          <ion-button color="danger">
            Borrar
          </ion-button>
        </a>
        
      </ion-card-content>
    </ion-card> 
  </div>
</ion-content>